<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="NewBehaviorServices">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="NewBinding0" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" >
					</binding>
			</basicHttpBinding>
		</bindings>
		<services>
   <service behaviorConfiguration="NewBehaviorServices" name="SimplePay_Service_Console.Service_Class">
    <endpoint address="http://localhost/SimplePay/info" binding="basicHttpBinding"
     bindingConfiguration="" name="EndPointLogin" contract="SimplePay_Service_Console.IService" />
    <endpoint address="http://localhost/SimplePay" binding="mexHttpBinding"
     bindingConfiguration="" name="mex" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost/SimplePay" />
     </baseAddresses>
    </host>
   </service>
  </services>
	</system.serviceModel>
</configuration>